@import './theme'
	
body
	font-family: 'Facundo'

.container
	width: 900px
	padding: 0 15px
	margin: 40px auto

.board
	display: flex
	justify-content: space-between
	&-gen
		&__up
			padding: 8px 100px
			color: $white
			border-color: $ligthBlue
			background-color: $darkBlue
			transition: 0.2s
			cursor: pointer

			&:hover
				background-color: $fDarkBlue

		&__toggled
			padding: 10px
			border: 1px solid $darkBlue

		&__title
			margin-bottom: 8px

		&__bname
			outline: none

		&__actions
			margin-top: 15px
			display: flex

			&_button
				padding: 5px 13px
				margin-right: 10px
				background-color: $darkBlue
				color: $white
				cursor: pointer
				transition: 0.2s

				&:hover
					background-color: $fDarkBlue

				&-cancel
					background-color: $red

					&:hover
						background-color: $lightRed

	&__boards
		width: 378px

		&_title
			background-color: $darkBlue
			color: $white
			padding: 2px 7px
	&-item
		display: flex
		justify-content: space-between
		border-bottom: 1px solid $darkBlue
		padding: 7px 7px
		cursor: pointer
		transition: 0.2s

		&:hover
			background-color: $darkBlue
			color: $white

		&__count
			width: 40px
			text-align: center
